<% content_for :title, "New team" %>

<div class="md:w-2/3 w-full">
    <%= render "form", team: @team %>

    <div class="mt-4">
        <%= link_to "Back to teams", teams_path, class: "lol-btn" %>
    </div>
</div>