<div id="<%= dom_id result %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Match:</strong>
    <%= result.match_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">First team score:</strong>
    <%= result.first_team_score %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Second team score:</strong>
    <%= result.second_team_score %>
  </div>
</div>
