<% content_for :title, "Modifier le match" %>

<div class="lol-container p-6 mb-8">
    <h1 class="text-3xl font-bold text-center">MODIFIER LE MATCH</h1>
    <p class="text-center text-xl mt-2 text-gray-400">Saison 2025</p>
</div>

<div class="lol-container max-w-3xl mx-auto mb-8">
    <div class="lol-header p-3">
        <h2 class="text-xl font-semibold text-center">Modifier les informations du match</h2>
    </div>

    <div class="p-6">
        <%= render "form", match: @match %>

        <div class="mt-6 text-center">
            <%= link_to matches_path, class: "lol-btn py-2 px-4 flex items-center justify-center mx-auto" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
            </svg>
            Retour à la liste
            <% end %>
        </div>
    </div>
</div>